body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	color: #f9f7f7;
	background-color: #3f72af;
	height: 90vh;
}

.main-display {
	margin: auto;
}

.button {
	max-width: 200px;
	width: 30vw;
	margin: 0.5rem 1rem;
	border: none;
	padding: 1rem 1rem;
	border-radius: 15px;
	text-decoration: none;
	background: #112d4e;

	font-family: "Raleway", sans-serif;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.button:hover {
	background: #07182b;
}
.button:active {
	text-decoration: none;
	transform: scale(1.01);
}

@media (min-width: 1057px) {
	.oauth {
		display: flex;
	}
}
